.history__container__two {
   margin-top: 5px;
   grid-template-rows: repeat(7, 20px);
}

.image__container__two {
   grid-row: 8;
}

.border__line__two {
   height: 444px;
}

@media only screen and (max-width: 1200px) {
   .border__line__two {
      height: 609px;
   }

   .main__text__2 {
      width: 98%;
   }
}

@media only screen and (max-width: 1080px) {
   .border__line__two {
      height: 625px;
   }
}

@media only screen and (max-width: 1060px) {
   .border__line__two {
      height: 625px;
   }

   .main__text__2 {
      width: 97%;
   }
}

@media only screen and (max-width: 1040px) {
   .border__line__two {
      height: 625px;
   }

   .main__text__2 {
      width: 94%;
   }
}

@media only screen and (max-width: 1020px) {
   .border__line__two {
      height: 578px;
   }

   .image__container__two {
      grid-row: 8;
   }
}

@media only screen and (max-width: 1000px) {
   .border__line__two {
      height: 533px;
   }
   
   .image__container__two {
      margin-top: 33px;
      grid-row: 8;
   }
   
}

@media only screen and (max-width: 660px) {
   .border__line__two {
      height: 935px;
   }

   .title__link__2 {
      font-size: 11px;
   }

   .link__text__2 {
      font-size: 11px;
   }

   .main__text {
      font-size: 11px;
   }

   .image__container__two {
      margin-top: 43px;
      grid-row: 8;
   }
}

@media only screen and (max-width: 600px) {
   .border__line__two {
      height: 786px;
   }

   .image__container__two {
      margin-top: 50px;
      grid-row: 8;
   }
}

@media only screen and (max-width: 430px) {

   /* History Container */
   .history__container__two {
      grid-template-rows: repeat(8, 20px);
   }

   .border__line__two {
      height: 754px;
   }

   .image__container__two {
      grid-row: 9;
   }
}

@media only screen and (max-width: 390px) {}