.history__container__two {
   margin-top: 5px;
}

.image__container__two {
   margin-top: 16px;
}

.border__line__two {
   height: 448px;
}

@media only screen and (max-width: 1200px) {
   .border__line__two {
      height: 612px;
   }
}

@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 1080px) {
   .border__line__two {
      height: 612px;
   }
}

@media only screen and (max-width: 1060px) {
   .border__line__two {
      height: 612px;
   }
}

@media only screen and (max-width: 1040px) {
   .image__container__two {
      margin-top: 34px;
   }

   .border__line__two {
      height: 630px;
   }
}

@media only screen and (max-width: 1020px) {
   .border__line__two {
      height: 505px;
   }

   .border__line__two {
      height: 583px;
   }
}

@media only screen and (max-width: 1000px) {
   .border__line__two {
      height: 541px;
   }
}

@media only screen and (max-width: 660px) {
   .border__line__two {
      height: 945px;
   }

   /* 
   .image__container__two {
      margin-top: 26px;
   } */
}

@media only screen and (max-width: 600px) {
   .border__line__two {
      height: 783px;
   }

   /* .image__container__two {
      margin-top: 0px;
   } */
}

@media only screen and (max-width: 430px) {

   /* History Container */
   .history__container__two {
      grid-template-rows: repeat(8, 20px);
   }

   .border__line__two {
      height: 737px;
   }

   .image__container__two {
      grid-row: 9;
   }
}

@media only screen and (max-width: 430px) {}