@media only screen and (max-width: 1200px) {
   .line__border__one {
      margin-top: 45px;
   }

   /* .novisibility__skills__0 {
      width: 1044px;
   }

   .novisibility__skills__1 {
      width: 1044px;
   } */
}


@media only screen and (max-width: 1100px) {
   .line__border__one {
      margin-top: 35px;
   }
}


@media only screen and (max-width: 1080px) {
   .line__border__one {
      margin-top: 30px;
   }
}

@media only screen and (max-width: 1060px) {
   .line__border__one {
      margin-top: 25px;
   }
}

@media only screen and (max-width: 1040px) {
   .line__border__one {
      margin-top: 20px;
   }
}

@media only screen and (max-width: 1020px) {
   .line__border__one {
      opacity: 0;
      margin-top: 10px;
   }
}

/* Phone screen */
@media only screen and (max-width: 430px) {
   .text__content__novisibility__0 {
      width: 350px;
      font-size: 40px;
   }

   .text__content__novisibility__1 {
      width: 350px;
      font-size: 28px;
   }

   .text__content__novisibility__2 {
      width: 350px;
      font-size: 15px;
   }

   /* Visibility */
   .text__content__visibility__0 {
      width: 350px;
      font-size: 40px;
   }

   .text__content__visibility__1 {
      width: 330px;
      font-size: 25px;
   }

   .text__content__visibility__2 {
      width: 300px;
      font-size: 15px;
   }

   .visibility__links {
      display: grid;
      row-gap: 10px;
      justify-content: center;
      grid-template-columns: repeat(3, 100px);
   }
}