@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;500&family=Inter&display=swap');

html {
   height: 100%;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background: #70bg32;
   background-repeat: no-repeat;
   background: -webkit-linear-gradient(to left top, blue, red);
   background: -moz-linear-gradient(to left top, blue, red);
   background: -ms-linear-gradient(to left top, blue, red);
   background: -o-linear-gradient(to left top, blue, red);
   background: linear-gradient(to left top, blue, red);
}

body {
   /* background-color: #000000; */
   /* background: linear-gradient(253deg, #E19898 -35.78%, #A2678A 2.02%, #4D3C77 41.73%, #3F1D38 90.84%), linear-gradient(253deg, #E19898 -35.78%, #A2678A 2.02%, #4D3C77 41.73%, #3F1D38 90.84%); */
   max-height: 100%;
   max-width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 100px;
   overflow: overlay;
}

/* Scroll */
::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-thumb {
   background-color: #000000;
   border-radius: 20px;
   border: 2px solid transparent;
   background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #1993a8;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

.scrolled::-webkit-scrollbar-thumb {
   background-color: grey;
}

/* No visibility */
.visibility {
   display: grid;
   justify-items: center;
   row-gap: 20px;
}

.no__visibility__logo {
   width: 250px;
   height: 250px;
   flex-shrink: 0;
   border-radius: 151px;
   background: linear-gradient(269deg, rgba(27, 26, 26, 0.92) 6.12%, #4E3C7C 101.73%);
}

.no__visibility__text {
   display: grid;
   justify-items: center;
   row-gap: 10px;
}

.text__content__novisibility__0 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 398px;
   height: 60px;
   flex-shrink: 0;
   text-align: center;
   color: #FFF;
   font-family: 'IBM Plex Mono', monospace;
   font-size: 47px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   background: linear-gradient(269deg, rgba(27, 26, 26, 0.92) 6.12%, #4E3C7C 101.73%);
}

.text__content__novisibility__1 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 398px;
   height: 33px;
   flex-shrink: 0;
   text-align: center;
   color: #FFF;
   font-family: 'IBM Plex Mono', monospace;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   background: linear-gradient(269deg, rgba(27, 26, 26, 0.92) 6.12%, #4E3C7C 101.73%);
}


.text__content__novisibility__2 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 398px;
   height: 47px;
   flex-shrink: 0;
   color: #FFF;
   text-align: center;
   font-family: 'Inter', sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   background: linear-gradient(269deg, rgba(27, 26, 26, 0.92) 6.12%, #4E3C7C 101.73%);
}


/* Visibility */
.visibility__logo {
   width: 250px;
   height: 250px;
   flex-shrink: 0;
   border-radius: 151px;
}

.visibility__logo__container {
   width: 250px;
   height: 250px;
   flex-shrink: 0;
   border-radius: 151px;
}

.visibility__text {
   display: grid;
   justify-items: center;
   row-gap: 10px;
}

.text__content__visibility__0 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 398px;
   height: 60px;
   flex-shrink: 0;
   text-align: center;
   color: #FFF;
   font-family: 'IBM Plex Mono';
   font-size: 47px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.text__content__visibility__1 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 398px;
   height: 33px;
   flex-shrink: 0;
   text-align: center;
   color: #FFF;
   text-align: center;
   font-family: 'IBM Plex Mono';
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.text__content__visibility__2 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 398px;
   height: 47px;
   flex-shrink: 0;
   color: #FFF;
   text-align: center;
   font-family: 'IBM Plex Mono';
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.visibility__links {
   display: grid;
   grid-template-columns: repeat(4, 100px);
}

.link__block {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 91px;
   height: 30px;
   flex-shrink: 0;
   border-radius: 6px;
   color: #FFF;
   text-align: center;
   font-family: 'IBM Plex Mono';
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   background: linear-gradient(266deg, rgba(79, 69, 75, 0.92) -228.51%, rgba(14, 14, 14, 0.81) 39.7%);
}

.line__border_one {
   max-width: 100%;
   height: 3px;
   border: none;
   flex-shrink: 0;
   border-radius: 8px;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%,
         rgba(255, 255, 255, 0.83) 42.52%, #FFF 51.37%,
         rgba(255, 255, 255, 0.87) 60.75%, rgba(255, 255, 255, 0.00) 100%);
   margin-top: 125px;
   margin-left: 114px;
   margin-right: 114px;
}

/* Article */
.block__container {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(2, 600px);
   margin-top: 125px;
   column-gap: 12px;
   row-gap: 30px;
}

.block__main {
   width: 600px;
   height: 350px;
   flex-shrink: 0;
   background: linear-gradient(269deg, rgba(27, 26, 26, 0.92) 6.12%, rgba(78, 60, 124, 0.11) 101.73%);
}